# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.joker-games-case-study.iml
# Editor-based HTTP Client requests
/httpRequests/
